server {
	root /home/blue/disasm.pro/app/;
	index index.html;
	
	location / {
		try_files $uri $uri/ @disasm_main;
	}
	
	location @disasm_main {
		include proxy_params;
		proxy_pass http://localhost:9000;
	}
	
	location /socket.io {
		include proxy_params;
		proxy_http_version 1.1;
		proxy_buffering off;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "Upgrade";
		proxy_pass http://localhost:9000/socket.io;
    	}
	server_name disasm.duvallj.pw;
	listen 80;
} 
