/* Custom styles for the index.html page */
.editor {
  width: 100%;
  height: 83vh;
  border-radius: 5px;
  border: 1px solid black;
}

.simple-style-inputs {
  padding : 0;
  border-radius: 3%;
}

.container-select-box{
  margin-right: 5%;
  width: 15%;
}

.bottomcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.headercontainer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.errorbox {
  background-color: rgb(20,20,20); 
  color: rgb(218,218,218);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px 0px;
  border-radius: 5px;
  min-width: 25%;
  max-width: 40%;
  text-align: center;
  border: 1px solid black;
}

.footerright {
  font-size: 0.8em;
  min-width: 20%;
  text-align: right;
}

/* Attempt to get offset box to look like dropdowns */
#OFFSET-label {
  color:white;
  font-size: 17px;
  font-family: 'Open Sans', arial, helvetica, sans-serif;
  text-shadow: 1px 1px 1px #1b7579;
  padding-right:3%;
}

#OFFSET {
  width: 70%;
  height: 90%;
  box-sizing: border-box;
  padding-right:10px;
  padding-left:10px;
}
#
